<% provide(:title, @user.name) %>
<div class="row">
  <aside class= "col-md-4">
    <section class="user_info">
    <hi>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </hi>
    </section>
  </aside>
</div>